/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #FFF;
  border-top: 15px solid #08C;
  color: #303030;
  font-family: Georgia, serif;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  padding-bottom: 3rem;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }


h1 {
  color: #303030;
  font-size: 2.25rem;
}
h2 {
  margin-top: 2.5rem;
  font-size: 2rem;
  font-weight: normal;
}
h3 {
  margin-top: 1.5rem;
  font-size: 1.25rem;
}
h4, h5, h6 {
  margin-top: 1rem;
  font-size: 1rem;
}

p { margin: 1em 0; }

a, a:visited {
  color: #08C;
  text-decoration: none;
}
a:hover {
  color: #303030;
  text-decoration: underline;
}

blockquote {
  padding: 0.1rem 1rem;
  padding-left: 2rem;
  margin-bottom: 2rem;
  border-left: 0.5rem solid #08C;
  font-size: 0.8em;
  font-style: italic;
}
blockquote code {
  font-size: 1rem !important;
  font-style: normal;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
main {
  list-style-type: none;
  margin: 5.25em auto;
}

main li {
  line-height: 1.75em;
}

main span {
  color: #aaa;
  font-size: 80%;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  font-size: 115%;
  text-align: left;
  width: 40em;
  margin: 3em auto 2em;
  line-height: 1.5em;
}

.header {
    height: 35px;
}

.header a {
  font-weight: bold;
  text-decoration: none;
}

.header em {
  color: #505050;
  display: block;
  margin-right: 5rem;
}

.title {
  margin-bottom: 2em;
}
.title span {
  color: #08C;
  margin-left: -0.5rem;
}
.header a, .header em {
  float: left;
}

.title a {
  color: #303030;
  font-weight: 400;
  margin-right: 15px;
}

.title a:hover {
  color: #000;
  text-decoration: none;
}

.header a.extra {
  color: #303030;
  margin-left: 1rem;
}

.header a.extra:hover {
  color: #08C;
}

.meta {
  color: #aaa;
}

footer {
  color: #808080;
  font-size: 1rem;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
article {
  margin: 6rem 0;
}
article h2 a, article h2 a:visited {
  color: #303030;
  font-size: 2.5;
  font-weight: normal;
}
article h2 a:before {
  content: '\2605';
  margin-left: -2.5rem;
  margin-right: 0.5rem;
  color: #FC0;
}
article h2 a:hover {
  color: #08C;
  text-decoration: none;
}
article .date {
  color: #808080;
  display: block;
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 2rem;
  margin-top: 1rem;

}
article pre {
  background-color: #def;
  font-family: "Ubuntu Mono", "Courier New", Courier, monospace;
  padding: 0.8em;
}

article ul, article ol {
  margin-left: 1.35em;
}

article code {
  font-family: "Ubuntu Mono", "Courier New", Courier, monospace;
  font-size: 1em;
  padding: 0 .2em;
}

/* terminal */
article pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

article pre.terminal code {
  background-color: #333;
}

/* Pagination */
/*
.pagination .newer {
  float: right;
}
*/
.pagination .older, .pagination .newer {
  font-style: italic;
  color: #FFF;
  display: block;
  background: #303030;
  padding: 1rem 2rem;;
  position: fixed;
  text-decoration: none;
  top: 50%;
}
.pagination .older:hover, .pagination .newer:hover {
  background: #08C;
}
.pagination .older {
  left: 0;
}
.pagination .older:hover:before {
  content: '\21E6';
  margin-right: 0.5rem;
  margin-left: -1rem;
}
.pagination .newer {
  right: 0;
}
.pagination .newer:hover:after {
  content: '\21E8';
  margin-left: 0.5rem;
  margin-right: -1rem;
}

#disqus_thread {
    margin-top: 5rem;
}
